.Order {
    width: 80%;
    background-color: #6272a4;
    border: 4px solid #f8f8f2;
    color: #8be9fd;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredient {
    border: 1px solid #50fa7b;
    color: #ff79c6;
    margin: 0 8px;
    padding: 4px 8px;
    text-transform: capitalize;
}