.BuildControls {
    background-color:  #6272a4;
    border: 8px solid #f8f8f2;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding: 10px 0;
    width: 100%;
}

.OrderButton {
    background-color: #bd93f9;
    border: 2px solid #f8f8f2;
    outline: none;
    cursor: pointer;
    color: #50fa7b;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 16px;
}

.OrderButton:hover, .OrderButton:active {
    border: 2px solid #ff79c6;
}

.OrderButton:disabled {
    background-color: #282a36;
    cursor: not-allowed;
    border: 2px solid #44475a;
    color: #44475a;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}