.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    font-weight: bold;
    padding: 4px;
    margin: 0 4px;
    width: 80px;
    border: 2px solid #f8f8f2;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #282a36;
    border: 2px solid #44475a;
    color: #44475a;
    cursor: not-allowed;
}

.BuildControl button:hover:disabled {
    background-color: #282a36;
    color: #44475a;
    cursor: not-allowed;
}

.Label {
    color: #8be9fd;
    font-weight: bold;
    padding: 10px;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #8be9fd;
    color: #6272a4;
}

.BuildControl .More {
    background-color: #bd93f9;
    color: #50fa7b;
}

.BuildControl .Less:hover, .BuildControl .Less:active,
.BuildControl .More:hover,.BuildControl .More:active {
    border: 2px solid #ff79c6;
}