.Button {
    background-color: transparent;
    border: none;
    color: #f8f8f2;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #44475a;
    cursor: not-allowed;
}

.Success {
    color: #50fa7b;
}

.Danger {
    color: #ff5555;
}